<h2>Search Books</h2>
<form method="GET" action="/books">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOpt.title %>">
    </div>
    <div>
        <label>Published After</label>
        <input type="date" name="publishedAfter" value="<%= searchOpt.publishedAfter %>">
    </div>
    <div>
        <label>Published Before</label>
        <input type="date" name="publishedBefore" value="<%= searchOpt.publishedBefore %>">
    </div>
    <button type="submit">Search</button>
</form>
<div>
    <% books.length > 0 && books.forEach(book=>{ %>
        <img height="150" width="100" src="<%= book.coverImagePath %> ">
        <% }) %>
</div>